 	<!-- About -->
    <div id="aboutModal" class="modal hide fade">
	    <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3>About</h3>
		</div>
		<div class="modal-body" style="text-align: center">
			<img src="webapp/img/apple-touch-icon-114x114-precomposed.png">
			<h2>MonitrAll</h2>
			<h5>2.1</h5>
			<p>Copyright &copy; Constantinos Evangelou 2013 - 2016</p>
			
			<h3>Licences</h3>

			<h5>Slim</h5>
			<p>Copyright &copy; Josh Lockhart</p>
			<p>Licence: <a target="_blank" href='http://www.slimframework.com/license'>MIT Public License.</a></p>

			<h5>Swiftmailer</h5>
			<p>Copyright &copy; 2013 Fabien Potencier</p>
			<p>Licence: <a target="_blank" href='https://raw.github.com/swiftmailer/swiftmailer/master/LICENSE'>GNU Lesser General Public License v3.</a></p>

			<h5>jQuery</h5>
			<p>Copyright &copy; 2013 The jQuery Foundation and other contributors/<p>
			<p>Licence: <a target="_blank" href='https://jquery.org/license/'>MIT License</a></p>

			<h5>Bootstrap</h5>
			<p>Copyright &copy; 2013 Twitter, Inc</p>
			<p>Licence: <a target="_blank" href='https://github.com/twbs/bootstrap/blob/master/LICENSE'>Apache License v2.0</a></p>

			<h5>Glyphicons Free</h5>
			<p>Copyright &copy; 2013 GLYPHICONS.com</p>
			<p>Licence: <a target="_blank" href='http://creativecommons.org/licenses/by/3.0/'>CC BY 3.0.</a></p>
			
			<h5>Sammy.js</h5>
			<p>Copyright &copy; 2013 Aaron Quint</p>
			<p>Licence: <a target="_blank" href='https://raw.github.com/quirkey/sammy/master/LICENSE'>MIT License</a></p>
			
			<h5>mustache.js</h5>
			<p>Copyright &copy; 2013 Jan Lehnardt (JavaScript)</p>
			<p>Licence: <a target="_blank" href='https://github.com/janl/mustache.js/blob/master/LICENSE'>MIT License</a></p>
			
			<h5>Flot</h5>
			<p>Copyright &copy; 2013 IOLA and Ole Laursen</p>
			<p>Licence: <a target="_blank" href='https://github.com/flot/flot/blob/master/LICENSE.txt'>https://github.com/flot/flot/blob/master/LICENSE.txt</a></p>
			
			<h5>DataTables</h5>
			<p>Copyright &copy; 2013 SpryMedia</p>
			<p>Licence: <a target="_blank" href='https://datatables.net/license_gpl2'>GPL v2</a></p>

			<h5>PageDown</h5>			
			<p>Original Markdown Copyright &copy; 2004-2005 John Gruber</p>		 
			<p>Original Showdown code copyright &copy; 2007 John Fraser</p>
			<p>Modifications and bugfixes &copy; 2009 Dana Robinson</p>
			<p>Modifications and bugfixes &copy; 2009-2013 Stack Exchange Inc.</p>
			<p>Licence: <a target="_blank" href='https://pagedown.googlecode.com/hg/LICENSE.txt'>MIT License</a></p>

			<h5>pagedown-extra</h5>			
			<p>Javascript Markdown Extra Extensions for Pagedown &copy; 2012-2013 Justin McManus</p>
			<p>PHP Markdown and Extra &copy; 2009 2004-2013 Michel Fortin</p>			
			<p>Licence: <a target="_blank" href='https://github.com/jmcmanus/pagedown-extra/blob/master/LICENSE.txt'>https://github.com/jmcmanus/pagedown-extra/blob/master/LICENSE.txt</a></p>

			<h5>highlight.js</h5>			
			<p>Copyright &copy; Ivan Sagalaev.</p>
			<p>Licence: <a target="_blank" href='https://github.com/isagalaev/highlight.js/blob/master/LICENSE'>https://github.com/isagalaev/highlight.js/blob/master/LICENSE</a></p>

			<h5>Typehead.js</h5>			
			<p>Copyright &copy; 2013 Twitter, Inc.</p>
			<p>Licence: <a target="_blank" href='https://github.com/twitter/typeahead.js/blob/master/LICENSE'>MIT License</a></p>

			<h5>Hogan.js</h5>
			<p>Copyright &copy; 2011 Twitter, Inc.</p>
			<p>Licence: <a target="_blank" href='https://github.com/twitter/hogan.js/blob/master/LICENSE'>Apache License, Version 2.0</a></p>
			
			<h5>bootstrap-datetimepicker</h5>			
			<p>Licence: <a target="_blank" href='https://raw.githubusercontent.com/tarruda/bootstrap-datetimepicker/master/LICENSE'>Apache License, Version 2.0</a></p>

		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>		
	</div>	