  <head>
    <meta charset="utf-8">
    <title>MonitrAll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="webapp/css/bootstrap.min.css" rel="stylesheet">
    <link href="webapp/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="webapp/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="webapp/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="webapp/img/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="webapp/img/apple-touch-icon-114x114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="webapp/img/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="webapp/img/apple-touch-icon-72x72-precomposed.png">
                                   <link rel="shortcut icon" href="webapp/img/favicon.ico">
  </head>
