    <div class="container-fluid" id="body">
      <div class="row-fluid">
        <div id="sidebar" class="span3 hidden-print">      
          <div class="accordion" id="accordion1"><!-- TEMPLATES resultsSideBarTmpl for Sidebar--></div>     
        </div><!--/span-->
        <div id="content" class="span9">   
          <!--/ To be used for module -->         
          <ul id="cbreadcrumb" class="hidden-print"></ul>
          <div class="module" id="modulex"></div>
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer class="hidden-print">
        <p>&copy; Constantinos Evangelou 2013 - 2017</p>
      </footer>
      <div id="modalGeneral" class="modal hide "></div>
    </div><!--/.fluid-container-->