	<div class="container">	
			<div id="containerdiv">
			</div>
	</div>
	<div id="messages"></div>
	<div id="modalGeneral" class="modal hide ">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="modalGeneralHeader">Delete</h3>
		</div>
        <div id="modalGeneralBody" class="modal-body">
			Are you sure you want to delete?
		</div>
        <div id="modalGeneralFooter" class="modal-footer">
			<div class="btn-group">
				<button data-action="" data-uid="" class="btn" id="okModal">Yes</button> 
				<button class="btn" id="cancelModal">No</button>
			</div>
		</div>
	</div>