	<div class="navbar navbar-inverse ">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="brand" href="#">MonitrAll</div>
          <i id="refreshIcon" class="icon-refresh icon-white" style="display: none;"></i>
        </div>
      </div>
    </div>